*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 1140px;
  column-gap: 30px;
}

.result {
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  row-gap: 16px;

}

.result__video-container {

}

.result__video {

}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

.search-form__fieldset {

}

.search-form__fieldset-title {

}

.search-form__label {

}

.search-form__label-text {

}

.visually-hidden {
  position: absolute;  
  width: 1px;  
  height: 1px;
  margin: -1px;  
  padding: 0; 
  border: 0;  
  clip: rect(0 0 0 0);   
  overflow: hidden;  
} 

.search-form__checkbox {

}

.search-form__checkbox-list {

}

.search-form__pseudo-checkbox {

}

.button {

}

.search-form__submit-button {

}

.content__details {
  max-width: 399px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.title {
  margin-bottom: 26px;

}

.content__accent {

}

.content__list {
  max-height: 298px;
  overflow-y: scroll;

}

.preloader {

}

.preloader-template {

}

.preloader-chasing-squares {

}

.square {

}

.cards-list-item-template {

}

.content__list-item {

}

.content__card-link {

}

.content__video-card {

}

.content__video-card-description-container {

}

.content__video-card-title {

}

.content__video-card-description {

}

.content__video-card-thumbnail {

}

.more-button-template {

}

.more-button {

}

.error {

}

.error-template {

}

.error__title {

}